<!DOCTYPE html>
<html>
<head>
    <title>StudyWiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <h2>STUDYWIZ</h2>
    <div>
        <a href="/">Home</a>
        <a href="/planner">Create</a>
        <a href="/how">How it Works</a>
    </div>
</div>

<section class="hero">
    <div class="hero-card">
        <h1>AI Study Planner & Performance Predictor</h1>
        <p>Generate intelligent study plans using AI logic using heuristic allocation and performance prediction.</p>
        <a href="/planner"><button class="primary-btn">Start Planning</button></a>
    </div>
</section>

<section class="team">
    <h2>Developed By</h2>

    <div class="team-grid">
        <div class="team-card">
            <h3>Pranjal Agarwal</h3>
            <p>23053229</p>
        </div>

        <div class="team-card">
            <h3>Purushottam</h3>
            <p>23053230</p>
        </div>

        <div class="team-card">
            <h3>Ritick Pandey</h3>
            <p>23053293</p>
        </div>

        <div class="team-card">
            <h3>Shivli Singh</h3>
            <p>23053301</p>
        </div>
    </div>
</section>

</body>
</html>
